* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #464b5b;
}

::-webkit-scrollbar {
  display: none;
}

button {
  padding: 5px 10px;
}

ul {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}