.AboutPage {
    max-width: 700px;
    min-height: 100vh;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.Links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}