.NavBar {
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding-inline: 10px;
    background-color: #336699;
    color: #F5F5F5;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.MainOptions, .adminOptions, .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.NavBar a, .NavBar span {
    color: #F5F5F5;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.NavBar a:hover {
    color: #FFFFFF;
}